<div class="navSection">

  <md-toolbar class="md-whiteframe-4dp">
    <h1>Project Tracker</h1>
  </md-toolbar>

  <md-nav-bar nav-bar-aria-label="navigation links" layout="row" layout-align="center space-around">

    <md-nav-item md-nav-href="#!/">Add Entry</md-nav-item>
    <!-- <a href="#!/">Add Entry</a> -->
    <md-nav-item md-nav-href="#!/project">Manage Projects</md-nav-item>
    <!-- <a href="#!/project">Manage Projects</a> -->
    <md-nav-item md-nav-href="#!/report">Reports</md-nav-item>
    <!-- <a href="#!/report">Reports</a> -->

  </md-nav-bar>
</div>