<md-toolbar class="md-theme" layout-align="center center">
  <h1>Project Tracker</h1>
</md-toolbar>

<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row" layout-align="center center">

  <md-nav-item md-nav-href="#!/">Add Entry</md-nav-item>
  <!-- <a href="#!/">Add Entry</a> -->
  <md-nav-item md-nav-href="#!/project">Manage Projects</md-nav-item>
  <!-- <a href="#!/project">Manage Projects</a> -->
  <md-nav-item md-nav-href="#!/report">Reports</md-nav-item>
  <!-- <a href="#!/report">Reports</a> -->

</md-nav-bar>