<md-content layout-padding>

  <md-toolbar class="md-toolbar md-accent" flex>
    <div class="md-toolbar-tools">
      <h3>Add Entry</h3>
    </div>
  </md-toolbar>

  <div class="input-section">
    <form class="form form_submit" ng-submit="vm.addEntry(vm.entryToAdd)">
      <div layout="row" layout="center start">
        <md-input-container class="md-block" flex>
          <input type="text" placeholder="What did you do today?" ng-model="vm.entryToAdd.description" aria-required="true" flex />
        </md-input-container>
      </div>

      <!-- repeat through list of projects below -->
      <md-input-container class="md-block" flex>
        <md-select placeholder="Choose a project" ng-model="vm.entryToAdd.project_id" aria-required="true" flex="16.67">
          <md-option ng-repeat="project in vm.projects.list" value="{{project.id}}">
            {{project.project_name}}</md-option>
        </md-select>
      </md-input-container>

      <div layout="row" layout-align="end center">
        <md-input-container class="md-block" flex>
          <md-datepicker type="date" ng-model="vm.entryToAdd.date" aria-required="true" placeholder="Enter date" aria-label="Enter Date"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block" flex>

          <input type="time" name="start_time" placeholder="Start Time" ng-model="vm.entryToAdd.start_time" aria-required="true" aria-label="Enter Start Time">
        </md-input-container>
        <md-input-container class="md-block" flex>

          <input type="time" name="end_time" placeholder="End Time" ng-model="vm.entryToAdd.end_time" aria-required="true">
        </md-input-container>
      </div>

      <div layout="row" layout="center center">
        <md-button class="md-raised md-accent md-hue-2" type="submit">
          Submit
        </md-button>
      </div>
      <!-- <md-input-container class="md-block" flex>
        <input placeholder="Submit" type="submit" />
      </md-input-container> -->
    </form>
  </div>
  <!-- Start of Entries History -->

  <md-toolbar class="md-table-toolbar md-default" flex>
    <div class="md-toolbar-tools">
      <span>History</span>
    </div>
  </md-toolbar>

  <!-- Entries Table -->
  <md-table-container>
    <table md-table class="entriesTable">
      <thead md-head>
        <tr md-row>
          <th md-column>Entry</th>
          <th md-column>Project</th>
          <th md-column>Date</th>
          <th md-column>Hours</th>
          <th md-column>Edit</th>
          <th md-column>Delete</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="entry in vm.entries.list">

          <td ng-if="!entry.showEdit">{{entry.description}}</td>

          <td>
            <input ng-if="entry.showEdit" type="text" placeholder="What did you do?" ng-model="entry.description" aria-required="true"
            />
          </td>

          <td ng-if="!entry.showEdit">{{entry.project_name}}</td>

          <td>
            <select ng-if="entry.showEdit" ng-model="entry.project_id" aria-required="true">
              <option value="">---Project---</option>
              <option ng-repeat="project in vm.projects.list" value="{{project.id}}">
                {{project.project_name}}</option>
            </select>
          </td>

          <td ng-if="!entry.showEdit">{{entry.date | date: 'shortDate'}}</td>

          <td>
            <input ng-if="entry.showEdit" type="date" name="date" ng-model="entry.date" aria-required="true" />
          </td>

          <td>{{ ((entry.end_hour + (entry.end_minute/60)) - (entry.start_hour + (entry.start_minute/60))).toFixed(2)}}
          </td>

          <td>
            <md-button class="md-raised md-primary md-hue-2" ng-if="!entry.showEdit" ng-click="vm.setUpEdit(entry)">Edit</md-button>
          </td>
          <td>
            <md-button class="md-raised md-primary md-hue-2" ng-if="entry.showEdit" ng-click="vm.editEntry(entry)">Done</md-button>
          </td>
          <td>
            <md-button class="md-raised md-warn md-hue-2" ng-click="vm.removeEntry(entry.id)">Delete</md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>


</md-content>