<div>
  <h3>Add Entry</h3>
  <div class="input-section">
    <form action="">
      <input type="text" placeholder="What did you do?" />
      <!-- repeat through list of projects below -->
      <select>
        <option value="">---Project---</option>
      </select>
      <input type="date" name="date" id="" />
      <input type="time" placeholder="Start Time">
      <input type="time" placeholder="End Time">
      <input type="submit" />
    </form>
  </div>
  <div class="historySection">
    <h3>History</h3>
    <table>
      <thead>
        <td>Entry</td>
        <td>Project</td>
        <td>Date</td>
        <td>Hours</td>
        <td>Action</td>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>