<div>
  <h3>Add Entry</h3>
  <div class="input-section">
    <form ng-submit="vm.addEntry(vm.entryToAdd)">
      <input type="text" placeholder="What did you do?" ng-model="vm.entryToAdd.description" aria-required="true" />
      <!-- repeat through list of projects below -->
      <select ng-model="vm.entryToAdd.project_id" aria-required="true">
        <option value="">---Project---</option>
        <option ng-repeat="project in vm.projects.list" value="{{project.id}}">
          {{project.project_name}}</option>
      </select>
      <input type="date" name="date" ng-model="vm.entryToAdd.date" aria-required="true" />
      <input type="time" name="start_time" placeholder="Start Time" ng-model="vm.entryToAdd.start_time" aria-required="true">
      <input type="time" name="end_time" placeholder="End Time" ng-model="vm.entryToAdd.end_time" aria-required="true">
      <input type="submit" />
    </form>
  </div>
  <div class="historySection">
    <h3>History</h3>
    <table class="entriesTable">
      <thead>
        <td>Entry</td>
        <td>Project</td>
        <td>Date</td>
        <td>Hours</td>
        <td>Edit</td>
        <td>Delete</td>
      </thead>
      <tbody>
        <tr ng-repeat="entry in vm.entries.list">

          <td ng-if="!entry.showEdit">{{entry.description}}</td>

          <td>
            <input ng-if="entry.showEdit" type="text" placeholder="What did you do?" ng-model="entry.description" aria-required="true"
            />
          </td>

          <td ng-if="!entry.showEdit">{{entry.project_name}}</td>

          <td>
            <select ng-if="entry.showEdit" ng-model="entry.project_id" aria-required="true">
              <option value="">---Project---</option>
              <option ng-repeat="project in vm.projects.list" value="{{project.id}}">
                {{project.project_name}}</option>
            </select>
          </td>

          <td ng-if="!entry.showEdit">{{entry.date | date: 'shortDate'}}</td>

          <td>
            <input ng-if="entry.showEdit" type="date" name="date" ng-model="entry.date" aria-required="true" />
          </td>

          <td ng-if="!entry.showEdit">{{ ((entry.end_hour + (entry.end_minute/60)) - (entry.start_hour + (entry.start_minute/60))).toFixed(2)}}
          </td>
          <td ng-if="entry.showEdit">{{ ((entry.end_hour + (entry.end_minute/60)) - (entry.start_hour + (entry.start_minute/60))).toFixed(2)}}
          </td>
          <td>
            <button ng-if="!entry.showEdit" ng-click="vm.setUpEdit(entry)">Edit</button>
          </td>
          <td>
            <button ng-if="entry.showEdit" ng-click="vm.editEntry(entry)">Done</button>
          </td>
          <td>
            <button ng-click="vm.removeEntry(entry.id)">Delete</button>
          </td>

        </tr>
      </tbody>
    </table>

  </div>